* {
	font-family: sans-serif;
	text-align: center;
}

.js-query {
	text-align: left;
}


button {
	padding: 10px;
	background-color: #720000;
	color: white;
	font-size: 14px;
	border-radius: 5px;
}

input {
	width: 250px;
	height: 30px;
	font-size: 14px;
}

label {
	text-align: left;
}

.resultsNum {
	font-style: italic;
}

.result-container {
	margin-bottom: 20px;
}